/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Agrandir;
	background-color: #F1EBEA;
}

/* Changing the background colour for the header */

header {
	font-family: "agrandir grand heavy";
	background-color: #078C41
;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #078C41;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5
}
footer {
	background-color: #F26E22;
}
/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}
